<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Homepage</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<main class="container">
			<h2>Employee Directory</h2>
			<hr style="margin-bottom: 40px" />

			<button
				style="padding: 5px; margin: 10px 0; float: right"
				type="submit"
				onclick="window.location.href='employees/add'"
			>
				Add Employee
			</button>

			<table>
				<thead>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr th:each="employee: ${employees}">
						<td th:text="${employee.firstName}" />
						<td th:text="${employee.lastName}" />
						<td th:text="${employee.email}" />
						<td id="links">
							<a th:href="@{/employees/edit(id=${employee.id})}"class="btn">✏️</a>
							&nbsp; &nbsp;
							<a
								th:href="@{/employees/delete(id=${employee.id})}"
								onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false"
								class="btn" >
                                ❌
                            </a>
						</td>
					</tr>
				</tbody>
			</table>
		</main>
	</body>
</html>
